

{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<h1>Update member</h1>

<form action="updaterecord/{{ mymember.user_id }}" method="post">
{% csrf_token %}
First Name:<br>
<input name="first" value="{{ mymember.user.first_name }}">
<br><br>
Last Name:<br>
<input name="last" value="{{ mymember.user.last_name }}">
<br><br>
Remarks:<br>
<input name="remarks" value="{{ mymember.remarks }}">
<br><br>
<input type="submit" value="Submit">
</form>-->







<div class="container-fluid py-3">
	<div class="container">
	<form action="updaterecord/{{ mymember.id }}" method="post">
	
	<div class="row">
	
		{% csrf_token %}
		<div class="col-md-12 shadow checkoutform">
			<div class="card-body">
				<h6>Add Remarks</h6>
				<hr>
				<div class="row">
					<div class="col-md-6 mt-2">
						<label>First Name</label>
						<input type="text" required value="{{ mymember.user.first_name }}"class="form-control" name="fname" placeholder="Enter Fist Name" disabled>
					</div>
					<div class="col-md-6 mt-2">
						<label>Last Name</label>
						<input type="text" required value="{{ mymember.user.last_name }}"class="form-control" name="lname" placeholder="Enter Last Name" disabled>
					</div>
					<div class="col-md-6 mt-2">
						<label>Remarks</label>
						<input type="text" required value="{{ mymember.remarks }}"class="form-control" name="remarks" placeholder="Enter Remarks">
					</div>
					
					<div class="mt-2">
								
						<button type="submit" class="btn btn-primary">Update</button>
					</div>


				</div>	
				
			</div>
		</div> 


	</div>

	</div>
	</form>




</div>




{% endblock %}